@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Fuzzy+Bubbles&family=Ubuntu:wght@300&display=swap');

:root{
    --main-box-shadow:0px 0px 10px 1px rgb(173, 173, 173);
    --background-color: #fafafa;
    --white-color: white;
    --list-Separator:rgb(201, 201, 201);
    --tools-default-color:rgb(201, 201, 201);
    --line-through:rgb(199, 199, 199);
    --black-color:black;
    --tools-hover:rgb(143, 143, 143);
    --tools-active:rgb(53, 53, 53);
    --footer-default-color:rgb(131, 131, 131);
    --format-active:rgb(0, 132, 255);
    --footer-btn:rgb(131, 131, 131);
    --footer-btn-active:rgb(204, 204, 204);
}

.complete{
    background-color: red;
}

body,html{
    margin: 0;
    padding: 0;
}
body{
    margin: 110px 0 100px 0 ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}
*{
    font-family: 'Baloo Bhaijaan 2', cursive;
    box-sizing: border-box;
}
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    z-index: -1;
    background-image: url("img/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* notification */

div#notify{
    padding: 13px;
    position: absolute;
    top: 50px;
    left: -300px;
    font-size: 20px;
    margin: 0;
    background-color: red;
    color: white;
    border-radius: 5px;
    user-select: none;
}

#notify.notifying{
    animation: notifying 500ms ease-in 200ms forwards;
}
@keyframes notifying {
    0%{left: -300px;}
    70%{left: 110px;}
    100%{left: 50px;}
}

#notify.notified{
    animation: notified 1s ease-out 200ms forwards;
    left: 50px;
}
@keyframes notified {
    0%{left: 50px;}
    30%{left: 110px;}
    100%{left: -300px;}
}


/* main section */

section{
    display: flex;
    flex-direction: column;
}
/* title */
.title{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.title h2{
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 35px;
    margin: 26.050px 0px;
    user-select: none;
}
.title input{
    display: none;
}
.title label{
    margin: 40px 0px;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

/* -------------add to list input----------------- */
.insert{
    width: 100%;
    user-select: none;
    display: flex;
    padding: 9px 13px;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: var(--main-box-shadow);
}

/* add to list button */
.addbtn{
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: var(--background-color);
    border-radius: 100%;
    border: 1px solid rgb(201, 201, 201);
    margin-right: 5px;
    cursor: pointer;
    transition: 200ms ease-in;
    background-image: linear-gradient(-40deg , #b26cf2 , #a577f3 , #7b9efa);
}
.addbtn:active{
    background-image: linear-gradient(-40deg , #7b9efa , #b26cf2 , #a577f3);
}
/* add to list input */
.insert input{
    width: 100%;
    padding: 0px 5px 0px 10px;
    border: none;
    font-size: 17px;
    background-color: var(--white-color);
    color: var(--black-color);
}
.insert input::placeholder{
    font-size: 15px;
    color: var(--footer-default-color);
}
.insert input:focus{
    outline: none;
    border: none;
}

/* list */
.list{
    flex-direction: column;
    margin-top: 20px;
    padding: 4px 0px 0px 0px;
}
.list label{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3px;
    padding: 0px 0px 0px 10px;
    border-bottom: 2px solid var(--list-Separator);
}
.list label:hover .tools{
    visibility: visible;
}
.list label .tools{
    display: flex;
    justify-content: flex-end;
}
.list label:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.list label .checkbox{
    width: 23px;
    height: 23px;
    border: 1px solid var(--list-Separator);
    border-radius: 100%;
    position: relative;
    margin: 0 15px 0 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list label .checkbox:hover{
    border-color: var(--tools-hover);
}
.list label input:checked + .checkbox:hover{
    border-color: rgb(197, 197, 197);
}
.list label .checkbox i{
    font-size: 12px;
    opacity: 0;
    transition: 200ms ease-in-out;
    color: var(--background-color);
}
.list label input:checked + .checkbox{
    background-image: linear-gradient(-40deg , #b26cf2 , #a577f3 , #7b9efa);
}
.list label input:checked + .checkbox i {
    opacity: 1;
}
.list label input:checked + .checkbox + input[type="text"]{
    color: var(--line-through);
    text-decoration: line-through;
}
.list label input[type="text"]{
    color: var(--black-color);
}
.list label input[type="checkbox"]{
    display: none;
}
.list label input{
    display: inline-block;
    margin: 0;
    font-size: 18px;
    width: 78%;
    padding: 10px 0px;
}
.list label input:disabled{
    color: var(--black-color);
    background-color: transparent;
}
/* edit/close btn */
.list label .tools{
    visibility: hidden;
}
.list label .tools button:first{
    padding: 13px 9px 15px 1px;
}
.list label .tools button:last-child{
    padding: 13px 22px 13px 11px;
}
.list label .tools button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--tools-default-color);
}
.list label .tools button:hover{
    color: var(--tools-hover);
}
.list label .tools button:active{
    color: var(--tools-active);
}
.list label .tools button:first-child{
    font-size: 10px;
}
.list label .tools button:last-child{
    font-size: 15px;
}

/* ---------------- Footer ---------------- */
footer{
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
    color: var(--footer-default-color);
    position: relative;
}
footer div:first-child p{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 15px;
}
/* format division */
footer div.format{
    display: flex;
    justify-content: space-around;
}
footer .format label{
    all: unset;
    padding: 2px 5px 0px 5px;
    font-size: 15px;
    cursor: pointer;
}
footer .format label:hover{
    color: var(--black-color);
}
footer div.format label input[type="radio"]:checked + span{
    color: var(--format-active);
}
footer div.format label input[type="radio"]{
    display: none;
}
/* clear btn */
footer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    color: var(--footer-btn);
}
footer button:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
footer button:hover{
    color: var(--black-color);
}
footer button:active{
    color: var(--footer-btn-active);
}

/* ---------- media query ---------- */
@media screen and (max-width: 650px) {
    .title{
        width: 400px;
    }
    .list label input{
        width: 73%;
    }
    footer .format label span , footer button , footer div:first-child p{
        font-size: 13px;
    }
}
@media screen and (max-width: 400px) {
    section{
        width: 260px;
    }
    .title{
        width: 100%;
    }
    .list label input{
        width: 58%;
    }
    footer{
        justify-content: space-between;
        padding: 4px 10px 6px 15px;
    }
    footer .format{
        position: absolute;
        top: 130%;
        left: 0px;
        right: 0px;
        background-color: var(--white-color);
        border: 1px solid var(--list-Separator);
        border-radius: 5px;
        width: 100%;
    }
}