@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Fuzzy+Bubbles&family=Ubuntu:wght@300&display=swap');

/* {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Ubuntu', sans-serif;
} */

body,html{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
body{
    background-color: whitesmoke;
}
*{
    font-family: 'Baloo Bhaijaan 2', cursive;
    box-sizing: border-box;
}
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* main section */

section{
display: flex;
flex-direction: column;
}
/* title */
.title{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.title h2{
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 35px;
    margin: 26.050px 0px;
}
.title span{
    margin: 40px 0px;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

/* -------------add to list input----------------- */
.insert{
    width: 100%;
    user-select: none;
    display: flex;
    padding: 9px 13px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgb(173, 173, 173);
}

/* add to list button */
.addbtn{
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: whitesmoke;
    border-radius: 100%;
    border: 1px solid rgb(201, 201, 201);
    margin-right: 5px;
    cursor: pointer;
    transition: 200ms ease-in;
    background-image: linear-gradient(-40deg , #b26cf2 , #a577f3 , #7b9efa);
}
.addbtn:active{
    background-image: linear-gradient(-40deg , #7b9efa , #b26cf2 , #a577f3);
}
/* add to list input */
.insert input{
    width: 300px;
    padding: 0px 5px 0px 10px;
    border: none;
    font-size: 17px;
}
.insert input::placeholder{
    font-size: 15px;
}
.insert input:focus{
    outline: none;
    border: none;
}

/* list */
.list{
    flex-direction: column;
    margin-top: 20px;
    padding: 4px 0px 0px 0px;
}
.list label{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3px;
    padding: 0px 0px 0px 10px;
    border-bottom: 2px solid rgb(219, 219, 219);
}
.list label:hover .tools{
    visibility: visible;
}
.list label .tools{
    display: flex;
    justify-content: flex-end;
}
.list label:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.list label .checkbox{
    width: 23px;
    height: 23px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 100%;
    position: relative;
    margin: 0 15px 0 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list label .checkbox i{
    font-size: 12px;
    opacity: 0;
    transition: 200ms ease-in;
    color: whitesmoke;
}
.list label input:checked + .checkbox{
    background-image: linear-gradient(-40deg , #b26cf2 , #a577f3 , #7b9efa);
}
.list label input:checked + .checkbox i {
    opacity: 1;
}
.list label input[type="checkbox"]{
    display: none;
}
.list label input{
    display: inline-block;
    margin: 0;
    font-size: 18px;
    width: 78%;
    padding: 10px 0px;
}
.list label input:disabled{
    color: black;
    background-color: transparent;
}
/* edit/close btn */
.list label .tools{
    visibility: hidden;
}
.list label .tools button{
    background-color: transparent;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    color: rgb(204, 204, 204);
}
.list label .tools button:hover{
    color: rgb(143, 143, 143);
}
.list label .tools button:active{
    color: rgb(53, 53, 53);
}
.list label .tools button:first-child{
    font-size: 10px;
}
.list label .tools button:last-child{
    font-size: 15px;
}

/* media query */
@media screen and (max-width: 650px) {
    .title{
        width: 400px;
    }
    .list label input{
        width: 73%;
    }
    .img img{
        height: 250px;
    }
}
@media screen and (max-width: 400px) {
    section{
        width: 260px;
    }
    .title{
        width: 100%;
    }
    .list label input{
        width: 58%;
    }
    .img img{
        height: 200px;
    }
}